main {
  margin: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #0731;
  min-height: 90vh;
}

h3 {
  padding: 3vh;
}

div .dash{
  background-color: grey;
  border-radius: 9px;
  min-height: 100vh;
}

select option {
  width: 180px;
}

.select-selected:after {
  position: absolute;
  content: "";
  border: 4px solid transparent;
  height: 0;
  width: 0;
  right: 10px;
  top: 15px;
}
.select-items {
  position: absolute;
  background-color: whitesmoke;
  top: 90%;
  left: 0;
  right: 0;
  z-index: 99;
}
.select-hide {
  display: none;
}
button {
  padding: 3px;
  font-style: italic;
  border-radius: 11px;
}
.col-12, .mb-3 {
  text-align: left;
  font-style: bold;
}

.workout {
  margin: 4vh;
  padding: 1vh;
  background-color: darkgrey;
  border-radius: 9px;
  border-color: darkgrey;
  border-style: solid;
  border-width: 1vh;
}

.workout label{
  margin-left: 1vh;
}

.workout p{
  margin-left: 1vh;
  color: white;
  background-color: #343a40;
  border-radius: 1vh;
  border-color: #343a40;
  border-style: solid;
  border-width: 1vh;
}

.dash-search {
  margin: 2vh 0 2vh 6vh;
  width: fit-content;
  background-color: #343a40;
  border-radius: 1vh;
  border-color: #343a40;
  border-style: solid;
  border-width: 1vh;
}

.dash-sel {
  margin: 0 2vh;
}
