.navbar {
  padding: 5px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9px;
}
.modal header {
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#eventKey {
  border-radius: 11px;
  color: #0731;
  font-display: white;
}
.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9px;
  border-color: gold;
  border-width: 2px;
}
